* {
  margin:0;
  padding:0;
}

li img{
  width:100%;
}

.carousel {
  display: flex;
  overflow: hidden;
  width: 100%;
  animation: slide 15s infinite;
}

.slide {
  flex: 1;
  text-align: center;
  padding: 20px;
  background-color: #ccc;
}

@keyframes slide {
  0%, 100% {
    transform: translateX(0);
  }
  25%, 75% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-200%);
  }
}